.heading{
  width: 99vw;
  height: 100vh;
  font-family:'CustomFont';
 text-shadow: 0px 0px 10px rgb(255, 0, 157);
  color: rgb(101, 199, 232);
  padding-bottom: 25px;
background-color: transparent;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 150px;
  transition: 0.1s;
}
.main{

  display: flex;
  flex-direction: column;
  
  text-align: center;
}
.count-up-text{
  text-shadow: 0px 0px 10px rgb(255, 0, 157);
  font-family:'CustomFont';
  color: rgb(75, 175, 236);
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.custom-bounceCards{
  margin-top: 50px;
  justify-self: center;
}
.letter{
  margin-top: 5px;
  font-family: 'CustomFont';
  position: absolute;
  font-weight: 400;
  font-size: 30px;
  justify-self: center;
  flex: 1;
  overflow-wrap: break-word;
  z-index: 20;

}
.ribbon-area{
  height: 80vh;
}
.text{
  position: absolute;
  z-index: -10px;
   font-family:'CustomFont';
 text-shadow: 0px 0px 10px rgb(0, 247, 255);
  color: rgb(179, 255, 0);
  font-size: 130px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.text-cursor{
  height: 500px;
  font-family: 'CustomFont';
}