.heading{
  font-family:'CustomFont';
 text-shadow: 0px 0px 10px rgb(255, 0, 157);
  color: rgb(101, 199, 232);
  padding-bottom: 25px;
  align-self: center;
  flex: auto;
  justify-self: center;
  font-size: 150px;
  transition: 0.1s;
}
.main{

  display: flex;
  flex-direction: column;
  
  text-align: center;
}
.count-up-text{
  text-shadow: 0px 0px 10px rgb(255, 0, 157);
  font-family:'CustomFont';
  color: rgb(75, 175, 236);
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.custom-bounceCards{
  justify-self: center;
}
.letter{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  justify-self: center;
  flex: 1;
  overflow-wrap: break-word;
  z-index: 20;
  color: black;
}
.note{
  background-color: transparent
}